* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.wrap {
  width: 1060px;
  margin: 90px auto;
  background-color: #F2F2F2;
  border-radius: 10px;
  border: 1px solid #BDBDBD;
  font-family: 'Noto Sans KR', sans-serif;
}

/* hedaer */
.header h1 {
  font-size: 24px;
  text-align: center;
  margin: 40px 0 37px 0;
}

.header span {
  display: block;
  width: 650px;
  height: 1px;
  background-color: #BDBDBD;
  margin: 0 auto 28px auto;
}

.header ul {
  text-align: center;
}

.header ul li {
  display: inline-block;
  margin-right: 60px;
}

.header ul li button {
  border: none;
  font-size: 16px;
  background-color: none;
  padding: 10px;
}

.header ul li:first-child button {
  font-weight: 700;
}

.header ul li:last-child {
  margin-right: 0;
}

/* main */
.main {
  width: 1003px;
  background-color: #fff;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  margin: 28px auto 31px auto;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 23px;
}

.moive-list {
  width: 220px;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.moive-list .poster {
  width: 180px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin: 18px 20px 0 20px;
}

.moive-list .poster img {
  width: 100%;
}

.moive-list h3 {
  margin: 11px 0 12px 0;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 23px;
  padding: 0 20px;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.moive-list ul {
  margin-bottom: 18px;
  padding: 0 20px;
}

.moive-list ul li {
  font-size: 13px;
  display: inline-block;
}

.moive-list ul li:nth-child(2) {
  margin-right: 35px;
}

.moive-list ul li:nth-child(6) {
  margin-right: 80px;
}

.moive-list li:nth-child(odd) {
  color: #828282;
  margin-right: 5px;
}

.moive-list ul li.star {
  position: relative;
  margin-left: 12px;
}

.moive-list ul li.star::before {
  content: "";
  width: 14px;
  height: 14px;
  display: inline-block;
  background: url(./img/Star\ 1.png);
  position: absolute;
  left: -17px;
  top: 3px;
}

.moive-list .btn-group {
  width: auto;
  background-color: #F2F2F2;
  border: 0 solid #BDBDBD;
  border-width: 1px 0 0 0;
  min-height: 40px;
  position: relative;
}

.moive-list .btn-group::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 40px;
  background-color: #BDBDBD;
  position: absolute;
  left: 50%;
  top: 0;
}

.moive-list .btn-group button {
  border: none;
  font-size: 14px;
  width: 107px;
  height: 40px;
}

.moive-list .btn-group button img {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin: 0 5px 2px 0;
  vertical-align: middle;
}

/* 다쉬... 만들어보자... */
/* 여러가지의 경우의 수 생각하기...(출연자명이 길어지는 경우 등등) */