div {
  width: 8rem;
  height: 3.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;
  box-sizing: border-box;
}

.box1 {
  background-color: #343F50;
  color: white;
  border: 10px inset #4A5568;
  line-height: 1.8;
}

.box2 {
  border: 5px dashed #E6D6FF;
  border-radius: 35px;
  line-height: 2.2;
  color: white;
  background: linear-gradient(90deg, rgba(138,75,245,1) 0%, rgba(100,89,243,1) 35%, rgba(54,107,242,1) 100%);
  background-clip: padding-box;
}

/* 
background는 단축 속성이기 때문에 개별 속성이 무조건 뒤로 와야함
background-color는 단일값만 사용 가능하기 때문에 gradient는 background 속성으로 줘야함 
*/

.box3 {
  border: 1px solid #E5E5E5;
  box-shadow: 5px 5px 5px #E5E5E5;
  border-radius: 0 35px 35px 35px;
  line-height: 2.7;
}