body, h1 {
  margin: 0;
}

.wrap {
  width: auto;
  height: auto;
  background-image: url(./images/bg.png);
  background-size: cover;
}

.section {
  width: min(1200px, calc(100% - 80px));
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px 0;
}

.content {
  width: 250px;
  margin: auto;
  color: #fff;

}

.content > img {
  margin: auto;
  display: block;
  width: 70%;
}

.grass {
  background-image: url(./images/green.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60px;
}

.text {
  background-color: #8A5227;
  border-radius: 0 0 30px 30px;
  padding: 20px;
}