/* setting */
body, p {
  margin: initial;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-size: inherit;
  font-weight: inherit;
  margin: initial;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

ul, li {
  padding: initial;
  list-style: none;
}

strong {
  font-weight: inherit;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
  width: inherit;
}

button {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}

:root {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.wrap {
  width: 1080px;
  margin: 0 auto;
}

.section {
  padding: 100px 0;
}

.section-purple {
  background-color: #673399;
  color: #fff;
}

.section-pink {
  background-color: seashell;
  color: salmon;
}

.section-header {
  margin-bottom: 100px;
}

/* section-purple */
.title-purple {
  display: flex;
  align-items: center;
}

.title-purple .title-headings {
  flex-basis: 26%;
  flex-shrink: 0;
  font-size: 40px;
}

.section-purple .title-headings strong {
  box-shadow: inset 0 -20px 0 orangered;
}

.title-purple p {
  max-width: 550px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #bd8fe8;
  line-height: 1.5;
}

.title-purple p::before {
  content: "";
  width: 60px;
  height: 2px;
  flex-shrink: 0;
  background-color: currentColor;
  margin-right: 20px;
}

.card-purple {
  background-color: #fff;
  color: #222;
  margin-bottom: 24px;
  display: flex;
}

.card-purple:last-child {
  margin-bottom: 0;
}

.card-purple:nth-child(even) {
  flex-direction: row-reverse;
}

.card-cover-purple {
  flex-basis: 26%;
  flex-shrink: 0;
  position: relative;
}

.card-cover-purple img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-cover-purple h2 {
  position: absolute;
  background-color: #57327c81;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
}

.card-content-purple {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  padding: 24px;
}

.card-content-purple h3 {
  margin-bottom: 32px;
  font-size: 18px;
  color: #673399;
  font-weight: 600;
}

.lists-purple li {
  text-indent: -20px;
  padding-left: 20px;
}

.lists-purple li + li {
  margin-top: 10px;
}

.lists-purple li::before {
  content: "";
  background-color: #bd8fe8;
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}

/* section-pink */
.title-pink {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-pink .title-headings {
  flex-basis: 40%;
  flex-shrink: 0;
  font-size: 40px;
}

.section-pink .title-headings strong {
  box-shadow: inset 0 -20px 0 white;
}

.title-pink a {
  width: 170px;
  padding: 12px 0 17px;
  background: orangered;
  font-size: 14px;
  color: #fff;
  text-align: center;
  border-radius: 7px;
  box-shadow: inset 0 -4px 0 rgb(167, 45, 0);
}

.section-content-pink {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  position: relative;
  align-items: flex-start
}

.card-pink {
  background-color: #fff;
  color: #222;
  
  flex-basis: calc(100% / 3 - 16px);
  flex-shrink: 1;
  flex-grow: 1;

  transition: all 1s;
  transform-style: preserve-3d;
}

.card-pink:hover {
  transform: rotateY(180deg);
}
/* hover를 하게 되면 more people를 누르는데 방해되는 것에 대해 고민해봐야함 */

.card-pink > div {
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
  padding: 40px 20px;
  position: absolute;
  right: 0;
  top: 0;
}

.card-back h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  border-bottom: 3px solid #eee;
  padding-bottom: 10px;
}

.card-back.soldout {
  position: absolute;
  box-sizing: border-box;
  background-color: #555;
  color: #fff;
  font-weight: 600;
  font-size: 30px;
  width: 100%;
  height: 100%;
} 

.card-back img {
  margin-top: 45px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.card-back a {
  display: block;
  text-align: right;
  padding: 20px 0;
  bottom: 0;
  color: #555;
  font-size: 20px;
}

.card-cover-pink > img {
  width: 100%;
  overflow: hidden;
}

.card-content-pink > img {
  position: absolute;
  top: -9px;
  left: -9px;
}

.card-main {
  padding: 24px;
}

.card-main > span {
  font-size: 12px;
  background-color: #f1e0f8;
  color: #673399;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 600;
}

.card-main > h2 {
  min-height: 60px;
  margin: 24px 0 32px;
  font-size: 24px;
  font-weight: 600;
}

.card-main > p {
  min-height: 105px;
  color: #555;
  font-size: 14px;
}

.card-more {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.card-more .btn-more {
  width: 100%;
  min-height: 68px;
  border: none;
  background-color: #fff;
  color: #555;
  font-size: 12px;
  text-align: left;
  cursor: pointer;
}

.card-more .btn-more::before {
  content: "";
  width: calc(100% - 24px);
  height: 3px;
  background: #eee;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}

.card-more .btn-more:disabled {
  cursor: auto;
}

.card-more > img {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-right: -7px;
}

/* media */
@media (max-width: 960px) {
  .wrap {
    width: 70%;
  }
  .section-header {
    margin-bottom: 50px;
  }
  .title-purple {
    flex-direction: column;
  }
  .title-purple .title-headings {
    text-align: center;
  }
  .title-purple .title-headings strong {
    display: block;
  }
  .title-purple p {
    max-width: 100%;
    justify-content: flex-start;
    margin-top: 30px;
    text-align: center;
  }
  .title-purple p::before {
    display: none;
  }
  .card-purple,
  .card-purple:nth-child(even) {
    flex-direction: column;
  }
  .title-pink .title-headings {
    flex-basis: 65%;
  }
  .section-content-pink {
    flex-direction: column;
  }
}

@media (max-width: 650px) {
  .wrap {
    width: 80%;
  }
  .section-header {
    margin-bottom: 40px;
  }  
  .title-purple .title-headings {
    font-size: 35px;
  }
  .title-pink .title-headings {
    font-size: 30px;
  }
}
