@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'SpoqaHanSansNeo-Regular';
}

a {
  color: #000;
  text-decoration: none;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.D-btn {
  width: 140px; 
  padding: 15px 30px;
  background: #D97652;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
}

.wrap {
  width: 1280px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 0;
  position: absolute;
  left: 115px;
  width: 1280px;
  z-index: 9999;
}

.logo {
  width: 130px;
}

.logo img {
  width: 100%;
}

.nav {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
}

.nav-ul {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-ul a {
  padding: 10px 0;
}
  

main {
  background-color: #F2E9D8;
}

main .wrap {
  padding-top: 100px;
  background: url(../img/hodu-main.png) no-repeat 900px bottom / 25%;
  height: 100vh;
  box-sizing: border-box;
}

main h2 {
  font-weight: 700;
  font-size: 48px; 
  padding-top: 150px;
  line-height: 60px;
}

main p {
  width: 440px;
  font-size: 16px;
  margin: 40px 0;
  line-height: 20px;
}

.hodu-section1 {
  padding: 80px 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hodu-section1 figure {
  min-width: 660px;
  margin-right: 110px;
  flex-shrink: 1;
  /* min-width: 0; 미디어 쿼리에서 적용 */
}

.hodu-section1 figure img {
  width: 100%;
}

.hodu-section1-content h3 {
  font-size: 35px;
  font-weight: 700;
  line-height: 45px;
  margin-bottom: 30px;
}

.hodu-section1-content p {
  font-size: 16px;
  line-height: 20px;
}

.hodu-section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hodu-section2 h3 {
  font-size: 48px;
  color: #D97652;
  font-weight: 700;
  margin-bottom: 40px;
}

.hodu-section2 > p {
  width: 740px;
  text-align: center;
  margin-bottom: 88px;
  font-size: 16px;
  line-height: 20px;
}

.hodu-section2-ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.hodu-section2-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 196px;
}

.hodu-section2-footer p {
  width: 740px;
  font-size: 16px;
  line-height: 20px;
}

.hodu-section2-footer a.D-btn {
  width: 140px;
  padding: 20px 5px;
  text-align: center;
}

.hodu-bg {
  margin: 0 -118px;
  height: 340px;
  background: url(../img/hodu-bg.png) no-repeat center 0 / cover;
}

.subscribe {
  margin-top: -100px;
  position: absolute;
  width: 1280px;
  background-color: #263140;
  color: #fff;
  border-radius: 30px;
  padding: 50px 58px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe h3 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 18px;
}

.subscribe p {
  font-size: 14px;
  width: 490px;
  line-height: 18px;
}

.subscribe form input {
  width: 530px;
  background: #FFFFFF url(../img/mail.svg) no-repeat 30px center / 24px;
  border-radius: 60px;
  margin-right: -150px;
  padding: 22px 68px 20px;
  box-sizing: border-box;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

footer h1 {
  width: 226px;
}

footer h1 img {
  width: 100%;
}

.sns {
  display: flex;
  gap: 20px;
}