@media (max-width: 360px) {
  body {
    background: #fff;
  }

  .title {
    width: 166px;
  }

  .title img {
    width: 100%;
  }

  .container {
    width: 100%;
    height: auto; 
    padding: 0;
    margin: 0;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0;
  }

  .banding-machine {
    padding: 18px 27px 20px 27px;
    height: auto;
  }
}

/* 가로 스크롤바 어떻게 해야될지 모르겠어서 그 점이 아쉽다 */