* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  background-color: #EAE8FE;
}

/* header */
.title {
  width: 386px;
  margin: auto;
}

.title img {
  width: 100%;
}

/* main container */
.container {
  margin: 60px auto;
  width: 740px;
  height: 545px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.container > section {
  width: 360px;
  background-color: #fff;
}

/* section1 up section */
.banding-machine {
  height: 545px;
  padding: 31px 27px;
}

.cola-menu {
  display: grid;
  grid-template-columns: repeat(3, 94px);
	grid-template-rows: repeat(2, 130px);
  gap: 12px;
}

.cola-type {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 9px 0;
}

.active {
  box-shadow: 0 0 0 3px #6327FE;
}

.cola-type > img,
.cola-type > p,
.cola-type > div {
  display: block;
  margin: auto;
  text-align: center;
}

.cola-type > p {
  font-size: 9px;
  margin: 7px 0;
}

.cola-type > div {
  font-size: 12px;
  height: 22px;
  width: 70px;
  background-color: #6327FE;
  border-radius: 50px;
  color: #fff;
  line-height: 1.7;
}

.cola-type:nth-child(2) {
  position: relative;
  overflow: hidden;
}

.cola-type:nth-child(2)::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8) url(../img/품절.png) no-repeat center center;
  position: absolute;
  left: 0;
  top: 0;
}

/* section1 down section */
.machine {
  /* height: 194px; */
  display: grid;
  grid-template-columns: 200px 94px;
	grid-template-rows: 33px 33px 106px;
  gap: 11px;
  margin-top: 20px;
}

.balance {
  background-color: #EAE8FE;
  border-radius: 5px;
  padding: 7px 15px;
  font-size: 14px;
  font-weight: bold;
}

.balance > span:first-child {
  float: left;
}

.balance > span:last-child {
  float: right;
}

.enter-amount > input {
  width: 100%;
  height: 100%;
  padding: 6px;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  font-size: 13px;
}

.btn {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  background-color: #fff;
}

.btn:last-child {
  background-color: #6327FE;
  color: #fff;
}

.shopping-basket {
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  background-color: #EAE8FE;
  padding: 12px 18px 0 12px;
  overflow: hidden;
  position: relative;
}

.shopping-basket::before {
  content: "";
  width: 4px;
  height: 79px;
  background-color: #fff;
  position: absolute;
  top: 9px;
  right: 4px;
  border-radius: 50px;
}

.shopping-basket-inner {
  height: 46px;
  width: 170px;
  background-color: #fff;
  border-radius: 5px;
  padding: 6px 10px;
  margin-bottom: 6px;
}

.shopping-basket-inner > img {
  height: 33px;
  width: 18px;
  vertical-align: middle;
}

.shopping-basket-inner > p {
  display: inline-block;
  font-size: 9px;
  margin-left: 5px;
} 

.shopping-basket-inner > div {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  border: 1px solid #BDBDBD;
  text-align: center;
  line-height: 1.9;
  float: right;
  margin: 2px 0;
  font-size: 14px;
  font-weight: bold;
}

/* section2 */
.price {
  height: 50px;
}

.price > div {
  width: 306px;
  height: 32px;
  background-color: #EAE8FE;
  border-radius: 5px;
  margin: 9px auto;
  padding: 6px 15px;
  font-size: 14px;
  font-weight: bold;
}

.price > div > span:first-child {
  float: left;
}

.price > div > span:last-child {
  float: right;
}

/* section3 */
.drink-obtained {
  height: 475px;
}

.drink-obtained > h2 {
  font-size: 14px;
  text-align: center;
  margin-top: 21px;
}

.drink-obtained .drink-content {
  width: 306px;
  height: 364px;
  background-color: #EAE8FE;
  border-radius: 5px;
  margin: 13px auto;
  padding: 12px 18px 0 12px;
  border: 1px solid #BDBDBD;
  position: relative;
}

.drink-content::before {
  content: "";
  width: 4px;
  height: 79px;
  background-color: #fff;
  position: absolute;
  top: 9px;
  right: 4px;
  border-radius: 50px;
}

.drink-inner-content {
  height: 46px;
  width: 276px;
  background-color: #fff;
  border-radius: 5px;
  margin: auto;
  padding: 6px 10px;
}

.drink-inner-content:not(:first-child) {
  margin-top: 6px;
}


.drink-inner-content > img {
  height: 33px;
  width: 18px;
  vertical-align: middle;
}

.drink-inner-content > p {
  display: inline-block;
  font-size: 9px;
  margin-left: 5px;
} 

.drink-inner-content .drink-count {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  border: 1px solid #BDBDBD;
  text-align: center;
  line-height: 1.9;
  float: right;
  margin: 2px 0;
  font-size: 14px;
  font-weight: bold;
}

.drink-obtained > p {
  text-align: right;
  font-size: 12px;
  margin-right: 25px;
  font-weight: bold;
}
