.event-form {
  display: flow-root;
  padding: 10px;
}

.event-form label,
.event-form input {
  display: block;
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  font-size: 18px;
  box-sizing: border-box;
}

.event-form button {
  float: right;
  margin-left: 10px;
  border: none;
  padding: 20px;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 15px;
  cursor: pointer;
  width: 100px;
}

.event-form button:hover {
  background-color: royalblue;
  color: #fff;
}
